<div class="login-container">
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
        <h2>Login</h2>
        <div class="form-field">
            <label>Email</label>
            <input type="email" formControlName="email" placeholder="Enter Email"/>
        </div>
        <div>
            <label>Password</label>
            <input type="password" formControlName="password" placeholder="Enter Password"/>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
</div>
