nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 0;
    gap: 10px;
    background: red;
}
nav ul{
    display: flex;
    padding: 8px;
    background: blue;
}
nav li{
    list-style: none;
}
nav li a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}