header{
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333;
}
nav{
   background-color: #333;
}
.nav-links{
 
    display: flex;
    gap: 20px;
    align-items: center;
    float: right;
}
.nav-links a{
    text-decoration: none;
    font-size: 18px;
}
.nav-links li{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}
.nav-links li:hover{
    transition: .2s ease-in-out;
    color: #007bff;
    cursor: pointer;
}