.table-container{
    padding: 10px;
    margin: auto;
    justify-content: center;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
#myModal{

}

.modal span{

}
.myBtn{
    border:none;
    outline: none;
    padding: 4px;
}
.myBtn:hover{
    transition: ease-in-out .2s;
    cursor: pointer;
    background-color: rgb(84, 84, 223);
}